
body {
    background-color: #45baa3;
}

.json-string {
    color: #004d1a;
}

.json-type {
    color: #05386b;
    font-weight: bold;
}

.status-good {
    color: #006600;
}

.status-bad {
    color: #b30000;
}

.content-page {
    background-color: #45baa3;
}

.content-main {
    margin: 32px auto;
    max-width: 800px;
    font-family: monospace;
    font-size: large;
    /* DEBUG
    border: 1px solid blue;
    */
}

.inline {
  display: inline;
  padding-left: 4px;
}

.pre-url, .pre-url:hover {
    color: inherit;
    border: none;
    background: none;
    text-decoration:none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
}

@media screen and (max-width: 616px) {
    body {
        margin: 16px;
    }
}
