
body {
    background-color: #e8e8e8;
}

code {
    color: hotpink;
}

.content-page {
    background-color: #e8e8e8;
}

.content-main {
    margin: 32px auto;
    max-width: 800px;
    font-family: monospace;
    font-size: large;
    /* DEBUG
    border: 1px solid blue;
    */
}

.inline {
  display: inline;
  padding-left: 4px;
}

.pre-url, .pre-url:hover {
    color: inherit;
    border: none;
    background: none;
    text-decoration:none;
    cursor: pointer;
    font-family: monospace;
    font-size: large;
}

@media screen and (max-width: 616px) {
    body {
        margin: 16px;
    }
}
